.btn-container{

}

.btn-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 0;
}

.btn-locked{
    margin: 1%;
    box-shadow: 3px 3px 6px black;
}

.btn-locked p{
    margin: 1%;
}

.btn{
    margin: 1%;
    box-shadow: 3px 3px 6px black;
}

.btn p{
    margin: 1%;
}

.btn.selected{
    background-color: #ffb9b9;
    border-radius: 0px 8px 8px 0px;
}

.btn-locked.selected{
    background-color: #ffb9b9;
    border-radius: 0px 8px 8px 0px;
}

.btn:hover{
    background-color: #ffb9b9;
    border-radius: 0px 8px 8px 0px;
}


