.results-container{

}
.result-item{
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: row;
    margin: 3%;
}

.left-item{
    width: 40%;
    height: auto;
}

.left-item img{
    width: 100%;
}

.right-item{
    width: 60%;
    height: auto;
}

.right-item h5{
    margin: 1% 0 1% 2%;
}

.answer-container{
    list-style-type: none;
}

.answer-container li{

}
.answer-container.correct-answer{
    background-color: greenyellow;
}

.answer-container.bad-answer{
    background-color: red;
}
