.header{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(48, 52, 54);
    padding: 10px;
    z-index: 999;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item{
    padding: 0px 8px;
}

.nav-item a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-item a:hover{
    color: gray;
}

.active a{
    text-decoration: underline;
}
